<html lang="zxx">
<head>
    <meta charset="utf-8">
    <link href="../css/main.css" rel="stylesheet" type="text/css"/>
    <link href="../css/comment.css" rel="stylesheet" type="text/css"/>
    <!-- All JavaScript libraries -->
    <script src="../js/jquery-3.3.1.min.js"></script>
    <script src="../js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>
    <script src="../plugins/angularjs/pagination-km.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/service/detailService.js"></script>
    <script src="../js/controller/detailController.js"></script>

    <title>新闻详情</title>
    <style>
        wrapper div {
            margin: 10px;
        }
    </style>
</head>
<body ng-app="newsRS" ng-controller="detailController" ng-init="init()">

<div ng-include="'../pages/header.html'"></div>
<!-- END header -->
<!-- header slider -->
<div class="wrapper">
    <article class="container articles">
        <div class="row">
            <div class="col-sm-12 col-md-9 article_text">
                <div class="current">
                    <h1 class="text-center yel_line current__title">{{newsGroup.news.title}}</h1>
                    <!-- 新闻信息 -->
                    <div style="border-bottom: 1px solid gray;padding-bottom: 15px">
                        <div class="row">
                            <div class="col-sm-3">
                                <div class="comment-avatar">
                                    <a href="own_page.html#?id={{newsGroup.user.id}}">
                                        <img
                                                style="width: 55px;height: 55px;border-radius: 99%"
                                                src="{{newsGroup.user.image==null?pathJson.projectPath+'pages/img/photo.png':newsGroup.user.image}}">
                                    </a>
                                </div>
                                <div class="comment-text">
                                    <div class="comment-text">
                                        <a href="own_page.html#?id={{newsGroup.user.id}}"><h6 class="comment-author">
                                            {{newsGroup.user.name}}</h6></a>
                                        <div class="comment-metadata">
                                            <span class="comment-date">{{newsGroup.user.introduction}}</span>
                                        </div>
                                    </div>
                                </div>
                            </div>
                            <div class="col-sm-offset-2 col-sm-2">
                                <a href="#" class="comment-date">{{newsGroup.news.releaseDate}}</a>

                            </div>
                            <div>
                                <img src="../img/icon/yanjing.png" style="width: 15px;height: 15px">{{newsGroup.news.visitCount}}
                                <img src="../img/icon/msg.jpg" style="width: 15px;height: 15px">{{newsGroup.news.commentCount}}
                                <a href="javascript:void(0)" ng-click="favorite()"><img
                                        src="../img/icon/{{newsGroup.favorite?'yishoucang':'shoucang'}}.png"
                                        style="width: 15px;height: 15px">{{newsGroup.news.favoriteCount}}</a>
                            </div>
                        </div>
                    </div>
                    <!-- 内容 -->
                    <div ng-bind-html="newsGroup.news.content|trustHtml" style="margin-top: 50px">
                        {{newsGroup.news.content}}
                    </div>
                    <p class="current__text"></p>
                    <blockquote class="quote current__quote"><a href="{{newsGroup.news.source}}">原文地址</a></blockquote>
                    <p class="current__text">作者：{{newsGroup.news.author}} </p>
                </div>
            </div>
            <!--标签-->
            <div class="col-sm-12 col-md-9 tags">
                <p>标签:</p>
                <ul>
                    <li>
                        <a href="#" title="World" class="font">World</a>
                    </li>
                    <li>
                        <a class="yellow font" href="#" title="Sport">Sport</a>
                    </li>
                    <li>
                        <a href="#" title="Cats" class="font">Cats</a>
                    </li>
                </ul>
            </div>
            <!--评论-->

            <div class="col-sm-9 col-md-8 col-lg-6">
                <p class="comments__title">笔削褒贬</p>
                <ul class="comment-list">
                    <li class="comment" ng-repeat="entity in newsGroup.comments">
                        <div class="comment-body">
                            <div class="comment-avatar">
                                <a href="own_page.html#?id={{entity.user.id}}">
                                    <img alt=""
                                         src="{{entity.user.image==null?pathJson.projectPath+'pages/img/photo.png':entity.user.image}}"
                                         style="width: 55px;height: 55px;border-radius: 50%;margin-top: 20px">
                                </a>
                            </div>
                            <div class="comment-text">
                                <a href="own_page.html#?id={{entity.user.id}}"><h6 class="comment-author">
                                    {{entity.user.name}}</h6><span
                                        class="comment-date">{{entity.comment.releaseTime}}</span></a>
                                <div class="comment-metadata">
                                    <span class="comment-date">{{entity.user.introduction}}</span>
                                </div>

                                <div class="row">
                                    <div class="col-sm-10">
                                        <p>{{entity.comment.text}}</p>
                                    </div>
                                    <a href="javascript:void(0)" ng-click="like(entity)"><img
                                            src="../img/icon/{{entity.like?'yidianzan':'dianzan'}}.png"
                                            style="width: 15px;height: 15px">{{entity.comment.likeCount}}</a>
                                </div>
                            </div>

                            <textarea name="text" class="form-control" rows="3" required="required"
                                      ng-model="childTexts[entity.comment.id]"></textarea>

                            <input class="btn-comments__form btn btn-comment" style="width: 75px"
                                   ng-click="releaseComment(entity.comment.id)" value="评论">
                        </div>

                        <ul class="children" ng-repeat="child in entity.children">
                            <li class="comment">
                                <div class="comment-body">
                                    <div class="comment-avatar">
                                        <a href="own_page.html#?id={{child.user.id}}"><img
                                                style="width: 55px;height: 55px;border-radius: 50%;margin-top: 20px"
                                                src="{{child.user.image==null?pathJson.projectPath+'pages/img/photo.png':child.user.image}}">
                                        </a>
                                    </div>
                                    <div class="comment-text">
                                        <a href="own_page.html#?id={{child.user.id}}"><h6
                                                class="comment-author">{{child.user.name}}</h6>
                                            <span class="comment-date">{{child.comment.releaseTime}}</span>

                                        </a>
                                        <div class="comment-metadata">
                                            <span class="comment-date">{{child.user.introduction}}</span>
                                        </div>

                                        <div class="row">
                                            <div class="col-sm-10">
                                                <p>{{child.comment.text}}</p>
                                            </div>
                                            <div>
                                                <a href="javascript:void(0)" ng-click="like(child)"><img
                                                        src="../img/icon/{{child.like?'yidianzan':'dianzan'}}.png"
                                                        style="width: 15px;height: 15px">{{child.comment.likeCount}}</a>
                                            </div>
                                        </div>
                                    </div>
                                </div>
                            </li>
                        </ul>
                    </li>
                </ul>

                <div class="comments__form>form-group">
                    <textarea name="text" id="input" class="form-control" rows="7"
                              required="required"
                              ng-model="text"></textarea>
                </div>
                <button class="btn-comments__form btn btn-comment" ng-click="releaseComment()">指点江山</button>
            </div>
        </div>
    </article>

</div>
<!-- Footer -->
<footer ng-include="'footer.html'">
</footer>
</body>
</html>


