<!DOCTYPE html>
<html lang="zxx">
<head>
    <meta charset="utf-8">
    <meta name="referrer" content="never">
    <link href="../css/main.css" rel="stylesheet" type="text/css"/>
    <!-- All JavaScript libraries -->
    <script src="../plugins/jQuery/jquery-3.3.1.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <script src="../js/main.js"></script>
    <script src="../plugins/angularjs/angular.min.js"></script>
    <script src="../plugins/angularjs/pagination-search.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/service/newsListService.js"></script>
    <script src="../js/controller/newsListController.js"></script>
    <title></title>
</head>
<body class="page" ng-app="newsRS" ng-controller="newsListController" ng-init="init()">

<div class="wrapper-sticky-footer">

    <div class="content-sticky">
        <!-- Header -->
        <div ng-include="'../pages/header.html'"></div>
        <!-- END header -->
        <!-- content-->

        <div class="Card">
            <div ng-if="list.length<=0" style="text-align: center"><h1><strong>暂无数据,<a href="http://localhost/newsRS_web">返回主页</a></strong></h1></div>
            <div class="row">
                <div class="col-sm-1" style="width: 20px;height: 500px;position: fixed">
                    <tm-pagination conf="paginationConf"></tm-pagination>
                </div>
                <div class="col-sm-offset-1 col-sm-6" style="border-top: lightgrey">
                    <div class="wrap wrap_gray pt20" >
                        <div class="container" >

                            <div class="row">
                                <div class="col-sm-3" style="height: 300px" ng-repeat="entity in list">
                                    <div class="thumbnail thumbnail_small">
                                        <a href="details.html#?id={{entity.id}}" class="thumbnail__link">
                                            <img src="{{entity.image}}" style="width: 270px;height: 153px" alt="News">
                                        </a>
                                        <div class="caption thumbnail__caption">
                                            <div class="news caption__news">
                                                <p class="news__category yellow-line">Economy</p>
                                                <a href="details.html#?id={{entity.id}}" class="news__link">
                                                    <p class="news__text">{{entity.title}}</p>
                                                </a>
                                            </div>
                                            <div class="posted">
                                                <span class="posted__date">{{entity.releaseDate}}</span>
                                                <ul class="posted__icon">
                                                    <li>
                                                    <span>
                                                <i class="icon-comment-empty"></i>{{entity.commentCount}}
                                            </span>
                                                    </li>
                                                    <li>
                                                    <span>
                                                <i class="icon-eye"></i>{{entity.visitCount}}
                                            </span>
                                                    </li>
                                                    <li>
                                                    <span>
                                                <img src="../img/icon/shoucang.png" style="width: 10px">{{entity.favoriteCount}}
                                            </span>
                                                    </li>
                                                </ul>
                                            </div>
                                        </div>
                                    </div>
                                </div>

                            </div>

                            <!--<div class="row">
                               <div class="ajax_load">
                                    <i class="icon-arrows-cw"></i>Load more
                                    <svg width="128" height="40" viewBox="0 0 128 40" xmlns="http://www.w3.org/2000/svg">
                                        <rect x='0' y='0' fill='none' width='128' height='40'></rect>
                                    </svg>
                                </div>
                            </div> -->
                        </div>

                        <!-- Footer -->

                    </div>
                </div>
            </div>
        </div>
        <!--<footer ng-include="'footer.html'">-->
        <!--</footer>-->
    </div>
</div>
</body>
</html>


