<!DOCTYPE html>
<html lang="zh" data-hairline="true" data-focus-visible="">
<head>
    <meta http-equiv="Content-Type" content="text/html; charset=UTF-8">
    <title>全文检索</title>
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <script src="../plugins/jQuery/jquery-3.3.1.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>
    <link href="../css/own_page.css" rel="stylesheet">
    <link href="../css/own_page_routes.css" rel="stylesheet">
    <script src="../plugins/angularjs/angular.min.js"></script>
    <script src="../plugins/angularjs/pagination-search.js"></script>
    <script src="../js/ownPage.js"></script>
    <script src="../js/service/searchService.js"></script>
    <script src="../js/controller/searchController.js"></script>


</head>
<body ng-app="newsRS" ng-controller="searchController" ng-init="init()" style="line-height: 1.42858;
  font-size: 14px; width: 100%">
<!-- 头部 -->
<div ng-include="'own_header.html'"></div>
<div class="Card">
    <div class="row">
        <div class="col-sm-1" style="width: 20px;height: 500px;position: fixed;">
            <tm-pagination conf="paginationConf"></tm-pagination>
        </div>
        <div class="col-sm-offset-1 col-sm-6" style="border-right:1px solid lightgrey">
            <div ng-repeat="entity in list">
                <div>
                    <div class="List-item tab-content">
                        <!-- 新闻标题 -->
                        <div class="row">
                            <h2 class="ContentItem-title col-sm-10">
                                <a href="../pages/details.html#?id={{entity.id}}"
                                   ng-bind-html="entity.title|trustHtml"></a>
                            </h2>
                        </div>
                        <div class="RichContent is-collapsed">
                            <!-- 文章的图片 -->
                            <div class="RichContent-cover" ng-if="entity.image.length>0">
                                <div class="RichContent-cover-inner">
                                    <img src="{{entity.image}}">
                                </div>
                            </div>
                            <!-- 内容预览 -->
                            <div style="margin-top: 15px;height: 100px;overflow: hidden" id="content">
                                    <span ng-bind-html="entity.content|trustHtml" style='display:-webkit-box;-webkit-box-orient: vertical;
                                        -webkit-line-clamp: 3;overflow:hidden;'>
                                        {{entity.content}}</span>
                            </div>
                            ……
                            <!-- 下面的图标-->
                            <div class="ContentItem-actions">
                                {{entity.releaseDate}}
                                &nbsp;&nbsp;<img src="../img/icon/msg.jpg" style="width: 15px;height: 15px"><span
                                    class="Tabs-meta">{{entity.commentCount}}</span>
                                &nbsp;&nbsp;<img src="../img/icon/yanjing.png"
                                                 style="width: 15px;height: 15px"><span class="Tabs-meta">{{entity.visitCount}}</span>
                                &nbsp;&nbsp;<img src="../img/icon/shoucang.png"
                                                 style="width: 15px;height: 15px"><span
                                    class="Tabs-meta">{{entity.favoriteCount}}</span>
                            </div>
                        </div>
                    </div>

                </div>
            </div>
        </div>
        <div class="col-sm-4" ng-if="box">
            <h1 class="ContentItem-title">
                <img src="../img/icon/hot.png" style="width: 20px">点击量排行</h1>
            <hr>
            <div ng-repeat="entity in box" style="border-bottom: grey">
                <div class="row">
                    <div class="col-sm-10">
                        <div class="List-item tab-content">
                            <!-- 新闻标题 -->
                            <div class="row">
                                <h2 class="ContentItem-title">
                                    <div class="col-sm-1" style="background: #e21b20;border-radius: 50%">
                                        {{$index+1}}
                                    </div>
                                    <div class="col-sm-10"><a href="../pages/details.html#?id={{entity.id}}">{{entity.title}}</a>
                                    </div>
                                    <div class="col-sm-1">
                                        <div>
                                            <img src="../img/icon/hot.png" style="width: 20px">
                                        </div>
                                        <div>{{entity.visitCount}}</div>
                                    </div>
                                </h2>
                            </div>
                        </div>
                    </div>
                </div>
                <hr>
            </div>
        </div>
    </div>
</div>

</body>
</html>