<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新闻列表</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../plugins/angularjs/angular.min.js"></script>
    <script src="../plugins/angularjs/pagination.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/service/newsService.js"></script>
    <script src="../js/service/categoryService.js"></script>
    <script src="../js/controller/newsListController.js"></script>
</head>
<body ng-app="newsRS" ng-controller="newsListController" ng-init="init()">
<!-- 内容头部 -->
<section class="content-header">
    <h1>
        新闻管理
        <small>新闻列表</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="home.html"><i class="fa fa-dashboard"></i> 首页</a></li>
        <!--<li><a href="#">模块名称</a></li>-->
        <!--<li class="active">模块功能</li>-->
    </ol>
</section>
<!-- 内容头部 /-->

<!-- 正文区域 -->
<section class="content">

    <div class="box box-primary">
        <div class="box-header with-border">
            <h3 class="box-title">新闻列表</h3>
        </div>
        <div class="box-body">

            <!-- 数据表格 -->
            <div class="table-box">
                <!--工具栏-->
                <div class="pull-left">
                    <div class="form-group form-inline">
                        <div class="btn-group">
                            <button type="button" class="btn btn-default" title="删除" ng-click="delete()"><i
                                    class="fa fa-trash-o"></i> 删除
                            </button>
                        </div>
                    </div>
                </div>
                <div class="box-tools pull-right">

                    分类：
                    <select ng-options="item.id as item.text for item in categories"
                               ng-model="cid">
                                    {{item.id}}
                        </select>
                        <input type="text" placeholder="新闻标题" ng-model="keywords">
                        <button class="btn btn-default" ng-click="findPage()">查询</button>
                </div>
                <!--工具栏/-->

                <!--数据列表-->
                <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr>
                        <th class="" style="padding-right:0px;">
                            <input id="selall" type="checkbox" class="icheckbox_square-blue">
                        </th>
                        <th class="sorting_asc">ID</th>
                        <th class="sorting_desc">新闻标题</th>
                        <th class="sorting_desc">类别</th>
                        <th class="sorting_desc">状态</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>

                    <tr ng-repeat="entity in list">
                        <td><input name="ids" type="checkbox" ng-click="updateChecked($event,entity.id)"></td>
                        <td>{{entity.id}}</td>
                        <td>
                            {{entity.title}}
                        </td>
                        <td>{{categoryArr[entity.cid]}}</td>
                        <td>{{statusArr[entity.status]}}</td>
                        <td class="text-center">
                            <!--href="http://localhost/newsRS_web/details.html#?id={{entity.id}}"-->
                            <button  class="btn bg-olive btn-xs" ng-click="goDetail(entity.id)">详情
                            </button>
                            <!--<button type="button" class="btn bg-olive btn-xs" ng-click="delete(entity.id)">删除</button>-->
                        </td>
                    </tr>

                    </tbody>

                </table>

            </div>

        </div>




    </div>
    <!--分页插件/-->
    <tm-pagination conf="paginationConf"></tm-pagination>
</section>
</body>

