<!DOCTYPE html>
<html>
<head>
    <meta charset="utf-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <title>新闻列表</title>
    <meta content="width=device-width,initial-scale=1,maximum-scale=1,user-scalable=no" name="viewport">
    <link rel="stylesheet" href="../plugins/bootstrap/css/bootstrap.min.css">
    <link rel="stylesheet" href="../plugins/adminLTE/css/AdminLTE.css">
    <link rel="stylesheet" href="../css/style.css">
    <script src="../plugins/jQuery/jquery-2.2.3.min.js"></script>
    <script src="../plugins/bootstrap/js/bootstrap.min.js"></script>

    <script src="../plugins/angularjs/angular.min.js"></script>
    <script src="../plugins/angularjs/pagination.js"></script>
    <script src="../js/base.js"></script>
    <script src="../js/service/newsService.js"></script>
    <script src="../js/service/categoryService.js"></script>
    <script src="../js/controller/newsViolationController.js"></script>
</head>
<body ng-app="newsRS" ng-controller="newsViolationController" ng-init="init()">
<!-- 内容头部 -->
<section class="content-header">
    <h1>
        新闻管理
        <small>违规新闻</small>
    </h1>
    <ol class="breadcrumb">
        <li><a href="home.html"><i class="fa fa-dashboard"></i> 首页</a></li>
        <!--<li><a href="#">模块名称</a></li>-->
        <!--<li class="active">模块功能</li>-->
    </ol>
</section>
<!-- 内容头部 /-->

<!-- 正文区域 -->
<section class="content">

    <div class="box box-primary" style="height: 500px">
        <div class="box-header with-border">
            <h3 class="box-title">列表</h3>
        </div>

        <div class="box-body">
            <!-- 数据表格 -->
            <!--工具栏-->
            <div class="pull-left">
                <div class="form-group form-inline">
                    <div class="btn-group">
                        <button type="button" data-toggle="modal" data-target="#danger" class="btn btn-default"
                                title="批量删除"><i
                                class="fa fa-trash-o"></i> 批量删除
                        </button>
                    </div>
                </div>
            </div>
{{deleteId}}
            <div class="table-box">
                <!--工具栏-->
                <div class="box-tools pull-right">
                    <input type="text" placeholder="新闻标题" ng-model="keywords">
                    <button class="btn btn-default" ng-click="findPage()">查询</button>
                </div>
                <!--工具栏/-->

                <!--数据列表-->
                <table id="dataList" class="table table-bordered table-striped table-hover dataTable">
                    <thead>
                    <tr>
                        <th class="" style="padding-right:0px;">
                            <input id="selall" type="checkbox" class="icheckbox_square-blue">
                        </th>
                        <th class="sorting_asc">ID</th>
                        <th class="sorting_desc">新闻标题</th>
                        <th class="sorting_desc">类别</th>
                        <th class="sorting_desc">状态</th>
                        <th class="text-center">操作</th>
                    </tr>
                    </thead>
                    <tbody>
                    <tr ng-repeat="entity in list">
                        <td><input name="ids" type="checkbox" ng-click="updateChecked($event,entity.id)"></td>
                        <td>{{entity.id}}</td>
                        <td>
                            {{entity.title}}
                        </td>
                        <td>{{categoryArr[entity.cid]}}</td>
                        <td>{{statusArr[entity.status]}}</td>
                        <td class="text-center">
                            <button class="btn bg-olive btn-xs" data-toggle="modal" data-target="#editModal"
                                    ng-click="examineNews(entity.id)">历史审核记录
                            </button>
                            <button title="删除" class="btn bg-olive btn-xs" data-toggle="modal" data-target="#danger"
                                    ng-click="setId(entity.id)">删除
                            </button>
                        </td>
                    </tr>

                    </tbody>

                </table>

            </div>

        </div>


    </div>
    <!--分页插件/-->
    <tm-pagination conf="paginationConf"></tm-pagination>
</section>

<div class="modal fade" id="editModal" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
    <div class="modal-dialog" style="width: 55%;margin-top: -100px">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-hidden="true">×</button>
                <h3 id="myModalLabel">新闻审核</h3>
            </div>
            <div class="modal-body">
                <div class="row">
                    <div class="col-sm-12 col-xs-12" style="border-right: 1px solid lightgrey">
                        <strong>详情</strong>
                        <hr>
                        <table class="table table-bordered table-striped">
                            <tr>
                                <th class="sorting_asc">ID</th>
                                <th class="sorting_desc">新闻标题</th>
                                <th class="sorting_desc">类别</th>
                                <th class="sorting_desc">状态</th>
                            </tr>
                            <tr>
                                <td>{{news.id}}</td>
                                <td>
                                    {{news.title}}
                                </td>
                                <td>{{categoryArr[news.cid]}}</td>
                                <td>{{statusArr[news.status]}}</td>
                            </tr>
                        </table>
                        <hr>
                        <strong>审核记录</strong>
                        <hr>
                        <div ng-if="examineList.length<=0">暂无记录</div>
                        <div style="width:100%;height: 145px;overflow: scroll">
                            <div ng-repeat="entity in examineList" ng-if="examineList.length>0">
                                {{entity.operation}}:{{entity.content}}
                            </div>
                        </div>
                    </div>
                </div>

            </div>
            <div class="modal-footer" style="text-align: center">
                <button class="btn btn-default" data-dismiss="modal" aria-hidden="true">关闭</button>
                <button class="btn btn-success" data-dismiss="modal" aria-hidden="true" ng-click="delete(news.id)">保存
                </button>
            </div>
        </div>
    </div>
</div>
<div class="modal modal-danger" id="danger">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
                <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                    <span aria-hidden="true">&times;</span></button>
                <h4 class="modal-title">警告</h4>
            </div>
            <div class="modal-body">
                <p>本次操作将永久删除该数据，您确定继续吗</p>
            </div>
            <div class="modal-footer">
                <button type="button" class="btn btn-outline" data-dismiss="modal" ng-click="delete()">确认删除</button>
                <button type="button" class="btn btn-outline pull-left" data-dismiss="modal" ng-click="setId(-1)">再想想……</button>
            </div>
        </div>
    </div>
</div>
</body>