<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper
        PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN"
        "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<mapper namespace="cn.hncu.mapper.INewsMapper">
    <select id="findByCid" resultType="news" parameterType="int">
      select * from news where cid = #{cid}
    </select>
    <select id="findAll" resultType="news">
        select * from news
    </select>
    <select id="findOne" resultType="news" parameterType="int">
        select * from news where id = #{id}
    </select>
</mapper>